index.php

/uploads/js_composer

/themes/twentytwenty/
/themes/twentysixteen/
/themes/twentyseventeen/
/themes/twentynineteen/

/plugins/akismet/
/plugins/js_composer_salient/
/plugins/hello.php
/plugins/index.php

